<nav class="navigation__secondary">
    <ul class="navigation__secondary__list">
      <li><a href="{{ site.baseurl }}/mobile/" {% if page.selected == "mobile-home" %}class="active"{% endif %} >Introduction</a></li>
      <li><a href="{{ site.baseurl }}/mobile/typography/" {% if page.selected == "mobile-typography" %}class="active"{% endif %} >Typography</a></li>
      <li><a href="{{ site.baseurl }}/mobile/colours/" {% if page.selected == "mobile-colours" %}class="active"{% endif %} >Colour Palette</a></li>
      <li><a href="{{ site.baseurl }}/mobile/buttons/" {% if page.selected == "mobile-buttons" %}class="active"{% endif %} >Buttons</a></li>
      <li><a href="{{ site.baseurl }}/mobile/navigation/" {% if page.selected == "mobile-navigation" %}class="active"{% endif %} >Navigation</a></li>
      <li><a href="{{ site.baseurl }}/mobile/forms/" {% if page.selected == "mobile-forms" %}class="active"{% endif %} >Forms</a></li>
      <li><a href="{{ site.baseurl }}/mobile/list-layouts/" {% if page.selected == "mobile-layouts" %}class="active"{% endif %} >List Layouts</a></li>
     <li><a href="{{ site.baseurl }}/mobile/errors/" {% if page.selected == "mobile-errors" %}class="active"{% endif %} >Error Handling</a></li>
     <li><a href="{{ site.baseurl }}/mobile/modals/" {% if page.selected == "mobile-modals" %}class="active"{% endif %} >Native Modals</a></li>
     <li><a href="{{ site.baseurl }}/mobile/search/" {% if page.selected == "mobile-search" %}class="active"{% endif %} >Search</a></li>
     <li><a href="{{ site.baseurl }}/mobile/icons/" {% if page.selected == "mobile-icons" %}class="active"{% endif %} >Icons</a></li>
   </ul>
</nav>
