
/* Navigation Main Top Nav
------------------------------------------------------------------ */


.logo--main{
  width: 90%;
  img{
    max-width: 140px;
  }
}

.navigation__primary{
  width: 100%;
  background: $dark__navy;
  padding: 18px 0 13px 0;
}

.navigation__primary__list{
  float: right;
  padding-top: 13px;
  li{
    display: inline-block;
    padding-left: 23px;
    letter-spacing: 0.4px;
    a{
      @include halyardRegular;
      font-size: 16px;
      color: $blue__light;
      &:hover{
        color: $white;
      }
    }
  }
}


.navigation__primary__list li a.active{
  color: $white;
}


.navigation__breadcrumbs{
  width: 100%;
  background: $pink;
  padding: 8px 0 10px 0;
  color: $white;
  text-transform: capitalize;
}

/* Navigation Sidebar Area
------------------------------------------------------------------ */

.navigation__secondary{
  float: left;
  width: 15%;
}

.navigation__secondary__list{
	padding: 80px 0;
	li{
		padding:11px 0;
    list-style: none;
		&.platform{
			padding: 15px 0;
		}
		a {
			@include sidebarLink;
		}
	}
}

/* Mobile Burger Menu
------------------------------------------------------------------ */


.hamburgerMenu{
  display: none;
  padding-top: 16px;
  background: $pink;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 500;
  float: right;
  img{
    width: 20px;
    margin: 0 auto;
    display: block;
  }
}


/* Mobile menu
------------------------------------------------------------------ */

.logo--mobileMenu{
  width: 100%;
  img{
    max-width: 230px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.navigation__mobile{
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  background: $dark__navy;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10%;
  overflow: scroll;
  opacity: 0;
  @include menuAnimation;
    &.visible{
    visibility: visible;
    opacity: 1;
  }
}

.navigation__mobile__list{
  padding: 20px 0;
  li{
    padding: 5px 0;
    text-align: center;
    &.platform {
      padding-top: 18px;
      a{
      @include halyardSemibold;
      letter-spacing: 0.3px;
      color: lighten($dark__navy, 50%);
      }
    }
    a{
      @include sidebarLink;
      color: $white;
      &:hover{
        color: $pink;
      }
      &.active{
        color: $pink;
      }
    }
  }
}

#menu__close {
	position: absolute;
  opacity: 0.5;
	top: 0;
	right: 1rem;
	-webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
	text-decoration: none;
	color: $white;
}

#menu__close:focus,
#menu__close:hover,
#menu__close:active {
    text-decoration: none;
}

#menu__close:after {
	content: "+";
	font-size: 2.5rem;
}
