
/* Mobile App Forms
------------------------------------------------------------------ */

.mobileFormGroup label{
	color: $SecondaryBodyColour;
  font-size: 12px;
  letter-spacing:0.8px !important;
  text-transform: uppercase;
  @include halyardMedium;
	padding-left: 40px;
}

.mobileFormGroup input{
	color: $PrimaryBodyColour;
  font-size: 18px;
	@include halyardBook;
	&::-webkit-input-placeholder{
		color: $PlaceholderColour;
	}
}

.mobileFormGroup{
	max-width: 338px;
	margin: 0 auto;
	vertical-align: top;
}

.mobileFormGroup input[type=password], .mobileFormGroup input[type=text]{
  height: 25px;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0px ;
  padding-left: 40px;
  color: $PrimaryBodyColour;
	background: none;
}


.mobileFormGroup--password {
    background-image: url('../assets/icons/icon-password.svg');
    background-repeat: no-repeat;
    background-size: 28px;
}

.mobileFormGroup--username {
    background-image: url('../assets/icons/icon-username.svg');
    background-repeat: no-repeat;
    background-size: 25px;
}
