
/* Mobile App Variables
------------------------------------------------------------------ */
$PrimaryBodyColour:#181E26;
$SecondaryBodyColour: #637289;
$LinkColour: #106DE0;
$PlaceholderColour: #9CA9BC;
$MetaTextColour: #738BB2;

$BorderGrey: #C9C9C9;
$SubtleGrey: #E2E2E2;

$LikeIconColour: #D22B36;
$CommentIconColour: #738BB2;
