/* Typography for Web App
------------------------------------------------------------------ */
@import "mobile_variables";

body{
	font-family: halyard-display, sans-serif;
	color: $textColor;
}

@mixin halyardBook{
	font-family: halyard-display, sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin halyardBookItalic{
	font-family: halyard-display, sans-serif;
	font-weight: 300;
	font-style: italic;
}

@mixin halyardRegular{
	font-family: halyard-display, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin halyardRegularItalic{
	font-family: halyard-display, sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin halyardMedium{
	font-family: halyard-display, sans-serif;
	font-weight: 500;
	font-style: normal;
}

@mixin halyardSemibold{
	font-family: halyard-display, sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin halyardBold{
	font-family: halyard-display, sans-serif;
	font-weight: 700;
	font-style: normal;
}



/* Modular Text Styles
------------------------------------------------------------------ */
a{
  cursor:pointer;
}

.mobileModularPage__heading1{
  color: $PrimaryBodyColour;
  font-size: 27px;
  @include halyardBold;
}

.mobileModularPage__heading2{
  color: $PrimaryBodyColour;
  font-size: 21px;
  @include halyardMedium;
}

.mobileModularPage__heading3{
  color: $PrimaryBodyColour;
  font-size: 18px;
  @include halyardMedium;
}

.mobileModularPage__heading4{
  color: $SecondaryBodyColour;
  font-size: 13px;
  letter-spacing: 0.8px !important;
  text-transform: uppercase;
  @include halyardSemibold;
}

.mobileModularPage__paragraph{
  color: $PrimaryBodyColour;
  font-size: 17px;
  @include halyardBook;
	a{
		border-bottom: 1px solid $BorderGrey;
		&:hover{
			border-color: $PrimaryBodyColour;
		}
	}
}

.mobileModularPage__caption{
  color: $SecondaryBodyColour;
  font-size: 14px;
  line-height: 1.2em;
  @include halyardBook;
}

.mobileModularPage__blockquoteone{
  color: $PrimaryBodyColour;
  font-size: 20px;
  @include halyardRegular;
}

.mobileModularPage__commenter{
  color: $PrimaryBodyColour;
  font-size: 15px;
  @include halyardMedium;
}


.mobileModularPage__commentBody{
  color: $PrimaryBodyColour;
  font-size: 16px;
  line-height: 1.3em;
  @include halyardBook;
}

.mobileScreen__socialActionBarText{
	color: $PlaceholderColour;
  font-size: 13px;
  @include halyardBook;
}

.mobileModularPage__commenterInfo{
	color: $PlaceholderColour;
  font-size: 13px;
  @include halyardBook;
}

.mobileModularPage__commentReplyLink{
	color: $LinkColour;
  font-size: 13px;
  @include halyardMedium;
}





/* Screen Styles
------------------------------------------------------------------ */

.mobileScreen__heading1{
  color: $PrimaryBodyColour;
  font-size: 21px;
  @include halyardMedium;
}

.mobileScreen__paragraph{
  color: $PrimaryBodyColour;
  font-size: 17px;
  @include halyardBook;
}

.mobileScreen__link{
  color: $LinkColour;
  font-size: 17px;
  @include halyardRegular;
}

.mobileScreen__metatext{
	color: $MetaTextColour;
  font-size: 13px;
  @include halyardBook;
}


/* List Items
------------------------------------------------------------------ */

.listLayout_titleLarge{
	color: $PrimaryBodyColour;
	font-size: 17px;
	@include halyardRegular;
}

.listLayout_titleSmall{
	color: $PrimaryBodyColour;
	font-size: 15px;
	@include halyardRegular;
}

.listLayout_meta{
	color: $SecondaryBodyColour;
	font-size: 13px;
	@include halyardBook;
}

.listLayout_notificationBody{
	color: $PrimaryBodyColour;
	font-size: 15px;
	@include halyardBook;
}


/* Contact/Profile
------------------------------------------------------------------ */

.profile_displayName{
	color: $PrimaryBodyColour;
	font-size: 27px;
	@include halyardMedium;
}

.profile_jobTitle{
	color: $PrimaryBodyColour;
	font-size: 17px;
	@include halyardRegular;
}

.profile_bio{
	color: $PrimaryBodyColour;
	font-size: 17px;
	@include halyardBook;
}
