/* Buttons for native apps
------------------------------------------------------------------ */

@import "mobile_variables";


.nativeButton{
  @include fadeAnimation;
  @include halyardMedium;
  font-size: 18px;
	padding: 13px 90px;
  border-radius: 100px;
  margin: 10px 20px 10px 0px;
}

.primaryButton{
  background-color: $LinkColour;
  color: $white;
  &--pressed{
    background: darken($LinkColour,8%);
    color: $white;
  }
  &--disabled{
    color: rgba(255,255,255,0.5);
  }
}

.floatingButton{
  @include fadeAnimation;
  background-color: #EF353C;
  color: $white;
  box-shadow: 0 4px 6px 2px rgba(0,0,0,0.15);
  height: 52px;
  width: 52px;
  border-radius: 100%;
  padding: 0;
  &--pressed{
    background: darken(#EF353C,8%);
    color: $white;
  }
  &--disabled{
    color: rgba(255,255,255,0.5);
  }
  img{
    height: 26px;
  }
}

.secondaryButton{
  background-color: $white;
  color: $PrimaryBodyColour;
  border: 1px solid $SubtleGrey;
  padding: 10px 50px 13px 50px;
  &--pressed{
    background-color: $ActiveButtonGrey;
  }
  &--disabled{
    color: $PlaceholderColour;
  }
}

.secondaryButton img, .secondaryButton--pressed img, .secondaryButton--disabled img{
  display: inline-block;
  width: 18px;
  max-width: 18px;
  margin: 6px 7px 0 0;
}
